:root {
    --border-color: grey;
    --highlight-color: hotpink;
}

html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav a {
    margin-left: 1rem;
}

h1 {
    color: var(--highlight-color);
}

.calendar-controls {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.calendar-controls h2 {
    margin: 0;
}

.calendar-controls a {
    margin-left: 1rem;
    margin-right: 1rem;
}

.day-name-grid {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(7, 1fr);
}

.day-name {
    margin: auto;
}

.month-grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    min-height: 70vh;

    /* Border is finished in .day */
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.month-day {
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    min-height: 80px;
}

.month-day > p {
    text-align: center;
}

.day-hour-grid {
    display: grid;
    grid-template-columns: 65px 8px 1fr;
    grid-template-rows: repeat(25, 50px);
    grid-auto-flow: row dense;
}

.day-hour-text {
    grid-column: 1;
    text-align: right;
}

.day-hour-separator {
    border-right: 1px solid var(--border-color);
    grid-row: 1 / 25;
    grid-column: 2;
}

.day-hour-area {
    padding-left: 10px;
    margin-left: -10px;
    border-bottom: 1px solid var(--border-color);
}

.day-hour-text span {
    position: relative;
    top: 36px;
    margin-right: 10px;
}

.week-day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.today p {
    color: var(--highlight-color);
}
