:root {
    --border-color: grey;
    --highlight-color: hotpink;
    --empty-color: whitesmoke;
}

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: auto;
    margin: 7px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav a {
    margin-left: 1rem;
}

h1 {
    color: var(--highlight-color);
}

.calendar-controls {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.calendar-controls h2 {
    margin: 0;
}

.calendar-controls a {
    margin-left: 1rem;
    margin-right: 1rem;
}

.month-view-dayname-grid {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(7, 1fr);
}

.month-view-dayname-grid div {
    margin: auto;
}

.month-view-grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    min-height: 70vh;

    /* Border is finished in .day */
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.month-view-cell {
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    min-height: 80px;
    text-align: center;
}

.day-view-grid {
    display: grid;
    grid-template-columns: 65px 8px 1fr;
    grid-template-rows: repeat(24, 50px);
}

.hours-in-day-text {
    grid-column: 1;
    text-align: right;
}

.day-hour-separator {
    border-right: 1px solid var(--border-color);
    grid-column: 2;
}

.hour-area {
    padding-left: 10px;
    margin-left: -10px;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.hour-area.last-item {
    border-bottom: unset;
}

.hours-in-day-text span {
    position: relative;
    top: 36px;
    margin-right: 10px;
}

.week-view-grid {
    display: grid;
    grid-template-columns: 65px 8px repeat(7, 1fr);
    grid-template-rows: 40px repeat(24, 50px);
    text-align: center;
}

.half-view-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40px repeat(31, 30px);
}

.half-view-day-cell {
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    display: flex;
}

.half-view-day-cell.empty {
    background-color: var(--empty-color);
}

.half-view-day-cell.last-item {
    border-bottom: 1px solid var(--border-color);
}

.half-view-day-cell .date-cell {
    margin-right: 4px;
}

.today {
    color: var(--highlight-color);
}
